#container {
	margin: 0 auto;
	max-width: 1300px;
	text-align: center;
}

section {
	margin-top: 60px;
}

.image {
	display: inline-block;
}

.image img {
	width: 280px;
	padding: 3px;
	margin-right: 10px;
	margin-left: 10px;
	opacity: .8;
	border: 2px solid white;
	border-radius: 15px;
}

.image img:hover {
	transform: scale(1.05);
	opacity: 1;
	box-shadow: 0 0 16px black;

}

 #footer {
 	margin-bottom: 10px;
 	padding-bottom: 10px;
 }

p {
	padding-top: 5px;
	margin-top: 10px;
}

p {
	font-size: 18px;
	font-family: sans-serif;
}

h1 {
	font-family: cursive;
	font-weight: bolder;
}

h2 {
	font-family: fantasy;
	font-size: 28px;
}
body {
	background-image: url(images/pattern_21.gif);
	background-repeat: repeat;
		color: white;
	text-shadow: black 0 0 3px;
}

@media (max-width: 1290px) {
	body {
		color: yellow;
	}
	.image img {
		border: 2px solid yellow;
	}
}
 @media (max-width: 980px) {
 	.image img {
		opacity: 1;
	}
	.image img:hover {
	transform: scale(1);
	box-shadow: 0 0 0;
	}
 }